#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
mainmenu "Matter nRF Connect Occupancy Sensor Example Application"

config PIR_SUPPORT
	bool "PIR sensor support"
	help
	  Enable this option to include Passive Infrared (PIR) sensor support
	  for occupancy detection.

config SIMULATED_PIR_SENSOR
	bool "Simulated PIR sensor with button"
	depends on PIR_SUPPORT
	help
	  Enable this option to simulate PIR sensor input using a button.

config HOLD_TIME_LIMIT_MIN_SEC
	int "Occupancy sensor hold time limit (min)"
	default 1
	range 1 600
	help
	  Minimum time in seconds that the occupancy state remains "occupied"
	  after motion is detected.

config HOLD_TIME_LIMIT_MAX_SEC
	int "Occupancy sensor hold time limit (max)"
	default 600
	range 1 600
	help
	  Maximum time in seconds that the occupancy state remains "occupied"
	  after motion is detected.

config HOLD_TIME_LIMIT_DEFAULT_SEC
	int "Occupancy sensor hold time limit (default)"
	default 10
	range HOLD_TIME_LIMIT_MIN_SEC HOLD_TIME_LIMIT_MAX_SEC
	help
	  Default time in seconds that the occupancy state remains "occupied"
	  after motion is detected.

config HOLD_TIME_LIMIT_RFS_NORMAL_SEC
	int "RF Sensing occupancy hold time limit (normal)"
	default 30
	range HOLD_TIME_LIMIT_MIN_SEC HOLD_TIME_LIMIT_MAX_SEC
	help
	  Default time in seconds that the occupancy state remains "occupied"
	  after motion is detected using RF Sensing.

config HOLD_TIME_LIMIT_RFS_LOW_POWER_SEC
	int "RF Sensing occupancy hold time limit (low power)"
	default 180
	range HOLD_TIME_LIMIT_MIN_SEC HOLD_TIME_LIMIT_MAX_SEC
	help
	  Default time in seconds that the occupancy state remains "occupied"
	  after motion is detected using RF Sensing in low power mode.

config HOLD_TIME_LIMIT_PIR_DEFAULT_SEC
	int "PIR sensor occupancy hold time limit (default)"
	default 10
	range HOLD_TIME_LIMIT_MIN_SEC HOLD_TIME_LIMIT_MAX_SEC
	help
	  Default time in seconds that the occupancy state remains "occupied"
	  after motion is detected using PIR sensor.

config RFS_ACTIVATED_BY_PIR
	bool "RF Sensing activated by PIR sensor"
	depends on PIR_SUPPORT
	help
	  Enable this option to activate RF Sensing only when the PIR sensor
	  detects motion.

config RFS_SENSING_ACTIVE_INTERVAL_MS
	int "RF Sensing active interval"
	default 4000
	range 1000 60000
	help
	  Time interval (in milliseconds) for which RF Sensing remains active
	  before going to sleep (if RFS_ACTIVATED_BY_PIR is enabled, this
	  interval starts after PIR sensor detects motion).

config RFS_SENSING_NORMAL_INACTIVE_INTERVAL_MS
	int "RF Sensing inactive interval in normal mode"
	default 3000
	range 1000 60000
	help
	  Time interval (in milliseconds) in normal mode for which RF Sensing
	  remains inactive.

config RFS_SENSING_LOW_POWER_INACTIVE_INTERVAL_MS
	int "RF Sensing inactive interval in low power mode"
	default 30000
	range 1000 60000
	help
	  Time interval (in milliseconds) in low power mode for which RF Sensing
	  remains inactive.

config RFS_FILTER_RSSI_THRESHOLD
	int "RF Sensing filter RSSI threshold"
	default -80
	range -127 -70
	help
	  RSSI threshold (in dBm) for filtering out weak RF signals.

config RFS_OCCUPANCY_THRESHOLD
	int "RF Sensing occupancy threshold"
	default 5
	range 2 10
	help
	  Range of valid RF signals required to determine occupancy in meter.

# Sample configuration used for Thread networking
if OPENTHREAD

choice OPENTHREAD_NORDIC_LIBRARY_CONFIGURATION
	default OPENTHREAD_NORDIC_LIBRARY_MTD
endchoice

choice OPENTHREAD_DEVICE_TYPE
	default OPENTHREAD_MTD
endchoice

config CHIP_ENABLE_ICD_SUPPORT
	default y

# Reduce Thread TX output power to 0 dBm for SED device
config OPENTHREAD_DEFAULT_TX_POWER
	int
	default 0

endif # OPENTHREAD

source "${ZEPHYR_CONNECTEDHOMEIP_MODULE_DIR}/config/nrfconnect/chip-module/Kconfig.features"
source "${ZEPHYR_CONNECTEDHOMEIP_MODULE_DIR}/config/nrfconnect/chip-module/Kconfig.defaults"
source "${ZEPHYR_NRF_MODULE_DIR}/samples/matter/common/src/Kconfig"
source "Kconfig.zephyr"
